@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

@import "./assets/colors.scss";

$page-padding-default: 32px;
$page-padding-default: 32px;

$page-padding-left: max(env(safe-area-inset-left), $page-padding-default);
$page-padding-right: max(env(safe-area-inset-right), $page-padding-default);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Display", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

#root {
  // height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: relative;
}

$bg-color: #000;
$dot-color: #fff;

// Dimensions
$dot-size: 5px;
$dot-space: 75px;

#root::after {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  opacity: 0.05;
}

.ApplicationWrapper {
  width: 100%;
  // height: fit-content;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.ApplicationWrapper::-webkit-scrollbar {
  z-index: 9;
}

#blob {
  background-color: #fff;
  height: 100px;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: main-gradient(315deg);
  animation: rotate 20s infinite;
  z-index: 2;
}

.blur {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 2 2.5;
  }

  to {
    rotate: 360deg;
  }
}

.App {
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  z-index: 4;
  position: relative;
  min-height: 48px;
  padding-left: $page-padding-left;
  padding-right: $page-padding-right;
  overflow-x: hidden;
}

.example-container {
  display: grid;
  width: 100%;
  place-content: center;
  // background: linear-gradient(to bottom right, #6366f1, #8b5cf6);
  padding: 48px 16px;
  // color: #0f172a;
}

.tilt-card {
  position: relative;
  height: fit-content;
  width: 630px;
  border-radius: 12px;
  background: linear-gradient(
    270deg,
    rgba(114, 18, 143, 1) 0%,
    rgba(27, 6, 113, 1) 100%
  );
}

.card-content {
  width: fit-content;
  position: absolute;
  // inset: 16px;
  top: 64px;
  bottom: -32px;
  right: 8px;
  border-radius: 12px;
  box-shadow: -1px -1px 17px 9px rgba(114, 18, 143, 0.1),
    0 4px 2px 0px rgba(114, 18, 143, 0.05);
}

.mouse-pointer-icon {
  margin: 0 auto;
  font-size: 2.25rem;
}

.hover-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.arkeweb-image {
  width: 100%;
}

.arkeapp-image {
  height: 100%;
}

@media screen and (max-width: 930px) {
  // .example-container {
  //   padding-top: 16px;
  // }
  .tilt-card {
    width: 100%;
  }
}
